@page "/register"
@using SmartWorkout.Entities
@using SmartWorkout.Extension_Methods

<EditForm Model="@UserAuthenticationDto" OnValidSubmit="OnFormSubmitAsync" FormName="editForm">
    <DataAnnotationsValidator />

    <div class="form-group">
        <label>First Name :</label>
        <div>
            <InputText @bind-Value="UserAuthenticationDto.FirstName" class="form-control col-sm-3" />
            <ValidationMessage For="@(() => UserAuthenticationDto.FirstName)" />
        </div>
    </div>
    <div class="form-group">
        <label>Last Name :</label>
        <div>
            <InputText @bind-Value="UserAuthenticationDto.LastName" class="form-control col-sm-3" />
            <ValidationMessage For="@(() => UserAuthenticationDto.LastName)" />
        </div>
    </div>
    <div class="form-group">
        <label>Email :</label>
        <div>
            <InputText @bind-Value="UserAuthenticationDto.Email" class="form-control col-sm-3" />
            <ValidationMessage For="@(() => UserAuthenticationDto.Email)" />
        </div>
    </div>
    <div class="form-group">
        <Check TValue="bool" @bind-Checked="UserAuthenticationDto.isTrainer">I am a trainer</Check>
    </div>
    <div class="form-group">
        <label> Select your gender: </label>
        <InputSelect @bind-Value="@UserAuthenticationDto.Gender" class="form-control col-sm-3">
            @foreach (Gender gender in Enum.GetValues(typeof(Gender)))
            {
                <option value="@gender">@gender.GetDescription()</option>
            }
        </InputSelect>
        <ValidationMessage For="@(() => UserAuthenticationDto.Gender)" />
    </div>
    <div class="form-group">
        <label>Birthday :</label>
        <div>
            <InputDate @bind-Value="UserAuthenticationDto.Birthday" class="form-control col-sm-3" />
            <ValidationMessage For="@(() => UserAuthenticationDto.Birthday)" />
        </div>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Save" />
    </div>
</EditForm>